<div id="<%= dom_id task %>">
  <p>
    <strong>Id:</strong>
    <%= task.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= task.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= task.end_date %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= task.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= task.phase_id %>
  </p>

  <p>
    <strong>Task type:</strong>
    <%= task.task_type %>
  </p>

</div>
